<div class="flex group items-center border-t border-secondary hover:bg-secondary p-5 py-3 cursor-pointer">
    <div class="flex-none bg-secondary px-4 py-3 rounded-full font-bold text-xl">PZ</div>
    <div class="flex-1 ms-3">
        <div class="font-bold">Pavel Zaydulin</div>
        <div>When will you start to search an angular job?</div>
    </div>
    <div class="flex-none text-gray-400 text-xs">3 days ago</div>
    <div class="hidden group-hover:inline-flex  w-[30px]">
        <p-button icon="pi pi-trash" [text]="true"  />
    </div>
</div>


    